<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /blancos/public/

    # Redirigir a index.php si el archivo o directorio no existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>
